<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://js.nicedit.com/nicEdit-latest.js"></script>

</head>

<section class="container"
         th:with="firstUrl=@{/management/products(page=1)},
				prevUrl=@{/management/products(page=${ T(Integer).parseInt(currentIndex) - 1 })},
				nextUrl=@{/management/products(page=${ T(Integer).parseInt(currentIndex) + 1 })},
				lastUrl=@{/management/products(page=${productPage.totalPages})}">
    <div class="section-legend">
        <span>All available products</span>
    </div>

    <nav>
        <ul class="pagination">
            <!-- First and Previous buttons -->
            <th:block th:switch="${currentIndex}">
                <th:block th:case="1">
                    <li class=""><a href="#">&laquo;</a></li>
                    <li class=""><a href="#">&lt;</a></li>
                </th:block>
                <!-- '*' represents default case  -->
                <th:block th:case="*">
                    <li><a href="#" th:href="@{${firstUrl}}">&laquo;</a></li>
                    <li><a href="#" th:href="@{${prevUrl}}">&lt;</a></li>
                </th:block>
            </th:block>
            <!-- Page number buttons -->
            <th:block th:each="i : ${#numbers.sequence(beginIndex, endIndex)}">
                <th:block th:switch="${currentIndex}" th:with="pageUrl=@{/management/products(page=${i})}">
                    <th:block th:case="${i}">
                        <li class="active"><a href="" th:href="@{${pageUrl} }" th:text="${i}"> </a></li>
                    </th:block>
                    <th:block th:case="*">
                        <li class="#"><a href="" th:href="@{${pageUrl} }" th:text="${i}"> </a></li>
                    </th:block>
                </th:block>
            </th:block>
            <!-- Last and Next buttons -->
            <th:block th:switch="${currentIndex}">
                <th:block th:case="${productPage.totalPages}">
                    <li class="disabled"><a href="#">&gt;</a></li>
                    <li class="disabled"><a href="#">&raquo;</a></li>
                </th:block>
                <!-- '*' represents default case  -->
                <th:block th:case="*">
                    <li><a href="#" th:href="@{${nextUrl}}">&gt;</a></li>
                    <li><a href="#" th:href="@{${lastUrl}}">&raquo;</a></li>
                </th:block>
            </th:block>
        </ul>
        <button type="button" class="btn btn-primary pull-right" style="margin: 20px 0;"
                data-toggle="modal" data-target=".addEditModal" data-backdrop="static">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </button>
    </nav>

    <table class="table table-condensed table-hover table-border">
        <thead>
        <tr>
            <th>#</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Unit Price</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="product : ${productPage}">
            <tr>
                <td th:text="${product.id }"></td>
                <td th:text="${product.code }"></td>
                <td th:text="${product.name }"></td>
                <td th:text="${product.category.name }"></td>
                <td th:text="${product.unitPrice }"></td>
                <td th:text="${product.description }"></td>
            </tr>
        </th:block>

        </tbody>
    </table>
</section>

<!-- start AddEditModal -->
<div class="modal fade addEditModal" id="addEditModal" tabindex="-1" role="dialog"
     aria-labelledby="modalLabel">
    <div class="modal-dialog modal-lg" role="addEditModalForm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">Add</h4>

            </div>
            <form id="addEditForm" action="#" th:action="@{/management/products/add}" th:object="${newProduct}"
                  method="post" class="form-horizontal">
                <div class="modal-body">
                    <!-- Product Code -->
                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-4 col-sm-4 "
                               for="code"> Product Code </label>
                        <div class="col-lg-9 col-md-8 col-sm-8 ">
                            <input id="code" th:field="*{code}" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <!-- Product Category -->
                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-4 col-sm-4 "
                               for="category"> Category </label>
                        <div class="col-lg-9 col-md-8 col-sm-8 ">

                            <select id="category" th:field="*{category}" class="form-control">
                                <option th:each="category : ${categories }" th:value="${category.id}"
                                        th:text="${category.name}"/>

                            </select>
                        </div>
                    </div>
                    <!-- Product Name -->
                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-4 col-sm-4 "
                               for="name"> Product Name </label>
                        <div class="col-lg-9 col-md-8 col-sm-8 ">
                            <input id="name" th:field="*{name}" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <!-- Unit Price -->
                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-4 col-sm-4 "
                               for="unitPrice"> Unit Price </label>
                        <div class="col-lg-9 col-md-8 col-sm-8 ">
                            <input id="unitPrice" th:field="*{unitPrice}" type="text"
                                   class="form-control"/>
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-4 col-sm-4 "
                               for="description"> Description </label>
                        <div class="col-lg-9 col-md-8 col-sm-8 ">
							<textarea id="description" th:field="*{description}" rows="2" style="width: 100%;"
                                      class="form-control"/>
                        </div>
                    </div>
                    <!-- Condition -->
                    <div class="form-group">
                        <label class="control-label col-lg-3 col-md-4 col-sm-4 ">
                            Status </label>
                        <div class="col-lg-9 col-md-8 col-sm-8 ">
                            <label class="radio-inline">
                                <input type="radio" th:field="*{status}" th:value="New" th:text="New"/>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" th:field="*{status}" th:value="Old" th:text="Old"/>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" th:field="*{status}" th:value="Refurbished" th:text="Refurbished"/>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnAdd" class="btn btn-primary" disabled="disabled"
                            th:text="Add"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end AddEditModal -->

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script
        src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"
        th:src="@{/webjars/angularjs/1.5.5/angular.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js"
        th:src="@{/webjars/jquery_are-you-sure/1.9.0/jquery.are-you-sure.js}"></script>

<script>

    //initialize AreYouSure plugin


    $('#addEditForm').areYouSure({
        change: function () {
            // Enable save button only if the form is dirty. i.e. something to save.
            if ($(this).hasClass('dirty')) {
                $(this).find('button[type="submit"]').removeAttr('disabled');
            } else {
                $(this).find('button[type="submit"]').attr('disabled', 'disabled');
            }
        }
    });

</script>

</html>

