<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
<section class="container">
    <!--/*@thymesVar id="products" type="List<Product>*/-->
    <div class="row" th:each="product : ${products}">
        <div class="col-sm-6 col-md-3" style="padding-bottom: 15px;">
            <div class="thumbnail">
                <div class="caption">
                    <h3 th:text="${product.name }"></h3>
                    <p th:text="${product.category.name }"></p>
                    <p th:text="${product.unitPrice }">USD</p>
                    <p th:text="'Available ' + ${product.unitsInStock } +' units in stock'"></p>
                    <p>
                        <a href="#" class="btn btn-primary">
                            <span class="glyphicon-info-sign glyphicon"/> Details
                        </a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
</body>
</html>
