<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<section id="main" class="container">
    <!--/*@thymesVar id="products" type="List<Product>*/-->
    <div class="row">
        <div class="col-sm-6 col-md-3" style="padding-bottom: 15px;" th:each="product : ${products}">
            <div class="thumbnail">
                <div class="caption">
                    <h3 th:text="${product.name }"></h3>
                    <p th:text="${product.category.name }"></p>
                    <p th:text="${product.unitPrice }">USD</p>
                    <p>Available <span th:text="${product.unitsInStock }" th:remove="tag"/> <span th:text="${product.unitsInStock > 1} ? 'units' : 'unit'"/> in stock</p>
                    <p>
                        <a href="#" th:href="@{/product(code=${product.code})}" class="btn btn-primary">
                            <span class="glyphicon-info-sign glyphicon"/> Details
                        </a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
</body>
</html>
